- AdminAbility::PERMISSIONS.each do |permissions|
  - if permissions.is_a? String
    = render 'edit.field.type_checkbox', :name => "#{permissions}_permission"
  - elsif permissions.is_a? Array
    -# .fieldset
    -#   .fieldset_legend= I18n.t(['permissions', permissions[0]].join('.'))
    -#   - permissions[1].each do |permission|
    -#     .field
    -#       .value
    -#         = @f.radio_button :"#{permissions[0]}_permissions", permission
    -#         = @f.label :"#{permissions[0]}_permissions_#{permission}"
    -#     .clear

    = render 'edit.field.type_select.haml', :name => "#{permissions[0]}_permissions", :select_options => permissions[1]
