.leaf_table.no_border.selectable.moz-unselectable{"data-continuous" => "{$_module->continuousScroll*1}", "data-itemsPerPage" => "{$_module->getItemsPerPage()}", "data-loading" => "{alias code=loading}", "data-total" => "{$collection->total}"}
  .thead
    %div
      %span= t("email")
      %span= t("group")
      %span= t("last_sign_in")
  .tbody
    - @list.each do |item|
      %a{:href => url_for([:edit, :admin, item])}
        %span= item.email
        %span admin
        %span= item.last_sign_in_at
