:ruby
  expanded = (current_admin_user.settings["content.tree.expanded.#{resource.id}"] == true)

%li.row.clearInside{ :class => [(resource.children.empty?) ? nil : 'has-children', ('collapsed' unless expanded)], :data => { :level => level, :id => resource.id } }
  - unless resource.children.empty?
    %div.collapser-cell
      %button.secondary.button.collapser.only-icon{ :type => :button }
        %i.fa{class: expanded ? 'fa-chevron-down' : 'fa-chevron-right'}
  %div.node-cell
    - if action == :edit
      %a{:href => url_for(:action => action, :id => resource.id)}
        %span
          = resource.name
    - else
      = form_tag url_for(:action => action, :id => @node.id), :method => :post do
        %input{:type => :hidden, :name => :new_parent_id, :value => resource.id}
        %button{:type => :submit}
          %span= resource.name


  - unless resource.children.empty?
    = render 'action_tree.level', :collection => resource.children, :level => level + 1, :action => action
