.body.inset_box.no_shadow

  -#TODO: improve style/html
  -if f.object.errors.any?
    #error_explanation
      %strong= "#{pluralize(f.object.errors.count, "error")} prohibited this news from being saved:"
      %ul
        - f.object.errors.full_messages.each do |msg|
          %li= msg

  .nested_wrap
    %table.releaf_table.no_border.label_first_column.translations.translations_table.list{:cellpadding => "0", :cellspacing => "0"}
      %thead
        %tr
          %th.code_header Nosaukums
          - locales.each do |locale|
            %th.language_header{"data-locale" => locale}
              %span.name= locale
          %th.delete_header  
      %tbody#variables.list
        - f.object.translations.each do |translation|
          %tr.item{ :id => "translation_#{translation.id}" }
            %td.translation_name.codeColumn
              .wrap
                %input{:type=>"hidden", :name=>"translations[#{translation.id}][id]",  :value=>"#{translation.id}"}/
                %input{:type=>"text",   :name=>"translations[#{translation.id}][key]", :value=>"#{translation.plain_key}"}/
            - locales.each do |locale|

              %td.translationCell{"data-locale" => locale}
                .wrap
                  %input{:type=>"text", :name=>"translations[#{translation.id}][localization][#{locale}]", :value=>translation.locales[locale]}/
            %td.delete_column
              %span.remove= image_tag("releaf/icons/delete.png", :alt => "delete", :title => :delete)

    %table{:style => "display:none;"}
      %tbody
        %tr.template.item{:id => "translation__template_" }
          %td.translation_name.codeColumn
            .wrap
              %input{:type=>"text",   :name=>"translations[_template_][key]", :value=>""}/
          - locales.each do |locale|
            %td.translationCell{"data-locale" => locale}
              .wrap
                %input{:type=>"text", :name=>"translations[_template_][localization][#{locale}]", :value=>""}/
          %td.delete_column
            %span.remove= image_tag("releaf/icons/delete.png", :alt => "delete", :title => :delete)

    %button.add.new(type='button')
      = image_tag 'releaf/icons/add.png', :atl => ''
      %span New
