%a.row{ 'data-id' => resource.id, :href => "#{url_for( :action => list_action, :id => resource.group_id )}#translation_#{resource.id}" }
  %span= resource.translation_group.scope
  %span= resource.key
  - locales.each do |locale|
    %span= resource.locales[locale]
