:ruby
  body_classes = []
  body_classes << "application-#{Rails.application.class.parent_name.downcase}"
  body_classes << "controller-#{params[:controller].tr( '/', '-' )}"
  if controller.active_template
    view = controller.active_template.virtual_path.split('/').pop()
    # consolidate new -> edit
    view = "edit" if view == "new"
    body_classes << "view-#{view}"
  end
  body_classes << "side-compact" if cookies['releaf.side.compact']

  _assets_path = __FILE__.split('/')[0...-1].join('/') + "/../../../assets"
  controller_asset = params[:controller]

!!! 5
%html
  %head
    %title= t(params[:controller], :scope => "admin.menu_items") + " - " + Rails.application.class.parent_name
    = stylesheet_link_tag "releaf/application"
    - %w[css.scss.erb scss.erb css.scss scss css.erb css].each do |ext|
      - if File.exists?(_assets_path + "/stylesheets/releaf/controllers/#{controller_asset}.#{ext}")
        = stylesheet_link_tag "releaf/controllers/#{controller_asset}"
      - if File.exists?(Rails.root.to_s + "/app/assets/stylesheets/controllers/#{controller_asset}.#{ext}")
        = stylesheet_link_tag "controllers/#{controller_asset}"
      - if File.exists?(Rails.root.to_s + "/app/assets/stylesheets/releaf/#{Rails.application.class.parent_name.downcase}.#{ext}")
        = stylesheet_link_tag "releaf/#{Rails.application.class.parent_name.downcase}"

    = csrf_meta_tags
  %body{:class => body_classes}
    - if self.send(:"#{Releaf::ReleafDeviseHelper.devise_admin_model_name}_signed_in?")
      %header
        %a.brand{:href => releaf_root_path}
        %ul.block
          %li.profile
            %a{:href => self.send(:"#{Releaf::ReleafDeviseHelper.devise_admin_model_name}_profile_path")}
              %span.name= current_admin_user.to_text
              = gravatar_image_tag(current_admin_user.email, :alt => current_admin_user.to_text, :gravatar => { :size => 36, :secure => request.ssl?, :default => 'mm' }, :class => "avatar")
          %li.sign-out
            = form_tag(self.send(:"destroy_#{Releaf::ReleafDeviseHelper.devise_admin_model_name}_session_path"), :method => :delete) do
              %button{:type => "submit"}
                %i.icon-off.icon-header

      .side
        .compacter
          %button{:type => "button"}
            %i.toggle-angle-icon{:class => "icon-double-angle-" + ( cookies['releaf.side.compact']  ? "right" : "left" )}
        %nav
          %ul.block
            - admin_menu.each do |menu_item|
              %li{:class => [("active" if menu_item[:active]), ("collapsed" if menu_item[:collapsed]) ], "data-name" => menu_item[:name]}
                - if menu_item[:items]
                  %span.trigger
                    %i{:class => "icon-" + menu_item[:icon]}
                    %span.name= t(menu_item[:name], :scope => "admin.menu_items")
                    %span.collapser
                      %button{:type => "button"}
                        %i.icon-small.chevron.icon-chevron-down
                  %ul.block
                    - menu_item[:items].each do |section_item|
                      %li
                        %a.trigger{:href => section_item[:url], :class => section_item[:active] ? :active_item : nil}
                          %span.name= t(section_item[:name], :scope => "admin.menu_items")
                          %i.icon-caret-left
                - else
                  %a.trigger{:href => menu_item[:url]}
                    %i.icon-large{:class => "icon-" + menu_item[:icon]}
                    %span.name= t(menu_item[:name], :scope => "admin.menu_items")
        .clear
        %footer
          CUBE
      .main{:id => "main"}= yield
      .notifications{:'data-close-text' => t(:close, :scope => "admin.global")}
    - else
      = yield

    = javascript_include_tag "releaf/application"
    - %w[js js.erb].each do |ext|
      - if File.exists?(_assets_path + "/javascripts/releaf/controllers/#{controller_asset}.#{ext}")
        = javascript_include_tag "releaf/controllers/#{controller_asset}"
      - if File.exists?(Rails.root.to_s + "/app/assets/javascripts/controllers/#{controller_asset}.#{ext}")
        = javascript_include_tag "controllers/#{controller_asset}"
