.login_form_container
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "login_form" } ) do |f|
    .inputs
      %label.login
        %span Email:
        = f.email_field :email, :autofocus => "autofocus"
      %label
        %span Password:
        = f.password_field :password
    .actions
      %button{:type => "submit"} Sign in
    %div.copy
      %span © 2012-#{Time.now.year} CubeSystems
      |
      = link_to "www.cubesystems.lv", "http://cubesystems.lv"
