.field.type_text.i18n
  - Settings.i18n_locales.each_with_index do |locale, i|
    - translation = f.object.translations.find_or_initialize_by_locale(locale)
    .localization{:"data-locale" => locale, :style => i > 0 ? 'display:none' : nil}
      = f.fields_for :"translations", translation, :child_index => i do |ff|
        .label_wrap
          = ff.label name
        .value
          - unless translation.new_record?
            = ff.hidden_field :id
          = ff.hidden_field :locale
          = ff.text_field name
        .clear
  .localization_buttons
    - Settings.i18n_locales.each_with_index do |locale, i|
      %button{:type => :button, :"data-locale" => locale, :class => i > 0 ? nil : :active}= locale
