.body.inset_box
  .section
    -#TODO: improve style/html
    -if @item.errors.any?
      #error_explanation
        %strong= "#{pluralize(@item.errors.count, "error")} prohibited this news from being saved:"
        %ul
          - @item.errors.full_messages.each do |msg|
            %li= msg
    - @controller.columns( 'edit' ).each do |name|
      - if @controller.has_template( "_edit.field.#{name}" )
        = render "edit.field.#{name}", :name => name
      - else
        = render 'edit.field', :name => name
