.body.inset_box
  .section
    -#TODO: improve style/html
    -if f.object.errors.any?
      #error_explanation
        %strong= "#{pluralize(f.object.errors.count, "error")} prohibited this news from being saved:"
        %ul
          - f.objects.errors.full_messages.each do |msg|
            %li= msg
    - @controller.columns( 'edit' ).each do |name|
      - if @controller.has_template( "_edit.field.#{name}" )
        = render "edit.field.#{name}", :name => name, :f => f
      - else
        = render 'edit.field', :name => name, :f => f
