.field.no_label_wrap_padding
  .label_wrap
    .label= name.sub(/_uid$/, '').humanize + ':'
  .value
    - if @item.class.columns_hash[ name ].type == :text && name.end_with?('_html')
      = @item[name].html_safe

    - elsif @item.class.columns_hash[ name ].type == :string && name =~ /(image|photo|picture|avatar|logo)_uid$/
      - field_name = name.sub(/_uid$/, '')
      - unless @item.send(name).blank?
        - case field_name
        - when /avatar$/
          = image_tag @item.send(field_name).thumb('64x64').url
        - else
          = link_to image_tag(@item.send(field_name).thumb('x128').url), @item.send(field_name).url

    - elsif @item.class.columns_hash[ name ].type == :string && name =~ /email$/
      = mail_to @item.send(name)

    - else
      :ruby
        text = @item.send(name)
        if @item.class.respond_to?(:reflect_on_association)
          [name, name.sub(/_id$/, '')].each do |m|
            if @item.class.reflect_on_association(m.to_sym)
              text = @item.send(m).try(:to_text) || @item.send(m).to_s
              break
            end
          end
        end
      = text
  .clear
