:ruby
  body_classes = []
  body_classes << "application-#{Rails.application.class.parent_name.downcase}"
  body_classes << "controller-#{params[:controller].tr( '_/', '-' )}"
  body_classes << "view-#{controller.active_view}"  if controller.respond_to? :active_view
  body_classes << "side-compact" if current_admin_user.try(:settings).try(:[], 'releaf.side.compact')

!!! 5
%html
  %head
    %title= page_title
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    - Releaf.assets_resolver.controller_assets(params[:controller], :stylesheets).each do|asset|
      = stylesheet_link_tag asset, media: 'all'
    = csrf_meta_tags
  %body{class: body_classes}
    - if self.send(:"#{Releaf::ReleafDeviseHelper.devise_admin_model_name}_signed_in?")
      %header
        %a.brand{href: releaf_root_path}
        %ul.block
          = render 'layouts/releaf/profile'
          %li.sign-out
            = form_tag(self.send(:"destroy_#{Releaf::ReleafDeviseHelper.devise_admin_model_name}_session_path"), method: :delete) do
              %button{type: "submit"}
                %i.fa.fa-power-off.icon-header

      .side
        .compacter
          %button{type: "button"}
            %i.toggle-angle-icon.fa{class: "fa-angle-double-" + ( current_admin_user.settings['releaf.side.compact'] ? "right" : "left" )}
        %nav
          %ul.block
            - admin_menu.each do |menu_item|
              %li{class: [("active" if menu_item[:active]), ("collapsed" if menu_item[:collapsed]) ], "data-name" => menu_item[:name]}
                - if menu_item[:items]
                  %span.trigger
                    %i.fa{class: "fa-" + menu_item[:icon]}
                    %span.name= t(menu_item[:name], scope: "admin.menu_items")
                    %span.collapser
                      %button{type: "button"}
                        %i.fa{class: menu_item[:collapsed] ? "fa-chevron-down" : "fa-chevron-up"}
                  %ul.block
                    - menu_item[:items].each do |section_item|
                      %li
                        %a.trigger{href: section_item[:url], class: section_item[:active] ? "active-item" : nil}
                          %span.name= t(section_item[:name], scope: "admin.menu_items")
                          %i.fa.fa-caret-left
                - else
                  %a.trigger{href: menu_item[:url]}
                    %i.fa{class: "fa-" + menu_item[:icon]}
                    %span.name= t(menu_item[:name], scope: "admin.menu_items")
        .clear
        %footer.main

      .main{id: "main"}= yield
      .notifications{:'data-close-text' => t(:close, scope: "admin.global")}
    - else
      = yield

    - Releaf.assets_resolver.controller_assets(params[:controller], :javascripts).each do|asset|
      = javascript_include_tag asset
