%a.row{ 'data-id' => item.id, :href => "#{url_for( :action => list_action, :id => item.group_id )}#translation_#{item.id}" }
  %span= item.translation_group.scope
  %span= item.key
  - Settings.i18n_locales.each do |locale|
    %span= item.locales[locale]
