.footer.center
  .block.left_block
    :ruby
      if resource.new_record? || @features[:show] == false
        cancel_url = url_for( :action => 'index' )
      else
        cancel_url = url_for( :action => 'show', :id => resource.id )
      end
    %a.button{ :href => cancel_url }
      = image_tag("releaf/icons/arrow_left.png", :alt => "") \
      = t('cancel', :scope => 'admin.global')

  .block.center_block
    %button{:type => "submit"}
      = image_tag("releaf/icons/disk.png", :alt => "") \
      = t('save', :scope => "admin.global")
  .block.right_block
    - if @features[:destroy] && !resource.new_record?
      %a.button{ :href => url_for( :action => 'confirm_destroy', :id => resource.id ) }
        = image_tag('releaf/icons/bin_empty.png', :alt => '')
        %span= t('destroy', :scope => "admin.global")
