- if sortable_objects
  = ff.hidden_field :position, :class => :position
  .handle &nbsp;

- if subfields.is_a? Array

  = render 'edit.fields', :f => ff, :fields => subfields, :view_prefix => view_prefix

- elsif subfields.is_a? String or subfields.is_a? Symbol
  - if has_template? "_#{view_prefix}.#{field}"
    = render "#{view_prefix}.#{field}", :f => ff, :name => field
  - else
    = render 'edit.field', :f => ff, :name => field, :view_prefix => view_prefix

= render 'edit.field_type_delete_nested', :f => ff
