- if has_template? "_#{view_prefix}.#{field}"
  = render "#{view_prefix}.#{field}", :f => f, :name => field

- else
  - new_view_prefix = "#{view_prefix}.#{field}"


  - case reflection.macro
  - when :has_many
    - sortable_objects = reflection.klass.column_names.include?('item_position')
    .nested-wrap{:'data-name' => field}
      %h3.subheader.nested-title= t(field, :scope => controller_scope_name)
      .list{:'data-sortable' => sortable_objects ? '' : nil}


        .item.clearInside.template{ :'data-name' => field}
          = f.fields_for field, reflection.klass.new, :child_index => '_template_' do |ff|
            = render 'edit.fields.has_many_template', :f => ff, :sortable_objects => sortable_objects, :subfields => subfields, :view_prefix => new_view_prefix, :field => field
            -# for templates always show remove button
            = render 'edit.field_type_remove_nested', f: ff, name: "_destroy"

        - allow_destroy = reflection.active_record.nested_attributes_options.fetch(reflection.name, {}).fetch(:allow_destroy, false)
        - f.object.send(field).each_with_index do |obj, i|
          .item.clearInside{:'data-name' => field, :'data-index' => i}
            = f.fields_for field, obj, :child_index => i do |ff|
              = render 'edit.fields.has_many_template', :f => ff, :sortable_objects => sortable_objects, :subfields => subfields, :view_prefix => new_view_prefix, :field => field
              = render 'edit.field_type_remove_nested', f: ff, name: "_destroy" if allow_destroy

      = render 'edit.field_type_add_nested', f: f, name: "_add"

  - when :belongs_to
    .nested-wrap{:'data-name' => field}
      .nested-title= t(field, :scope => controller_scope_name)
      .item
        = f.fields_for field, f.object.send(field) do |ff|

          - if subfields.is_a? Array
            - if has_template? "_#{new_view_prefix}.#{field}"
              = render "#{new_view_prefix}.#{field}", :f => ff, :name => subfield
            - else
              = render 'edit.fields', :f => ff, :fields => subfields, :view_prefix => new_view_prefix

          - elsif subfields.is_a? String or subfields.is_a? Symbol
            - if has_template? "_#{new_view_prefix}.#{field}"
              = render "_#{new_view_prefix}.#{field}", :f => ff, :name => field
            - else
              = render 'edit.field', :f => ff, :name => field

