:ruby
  default_locale = cookies[:'releaf.i18n.locale']
  default_locale = resource.class.globalize_locales.first unless resource.class.globalize_locales.include? default_locale


- resource.class.globalize_locales.each_with_index do |locale, i|
  - translation_name = "#{name}_#{locale}"
  - is_default_locale = locale == default_locale

  .localization{:'data-locale' => locale, :class => is_default_locale ? "active" : nil}
    = render "edit.field_label", label_opts
    .value
      = f.send(field_type, translation_name, {value: f.object.send(translation_name)}.merge(input_attrs))
    .clear


.localization-switch
  %button.trigger{:type => 'button', :title => t('Switch locale', :scope => 'admin.global')}
    %span.label
      = default_locale
    %i.fa.fa-chevron-down
  %menu.block.localization-menu-items{:type => 'toolbar'}
    %ul.block
    - resource.class.globalize_locales.each_with_index do |locale, i|
      - is_default_locale = locale == default_locale
      %li
        %button{:type => :button, :'data-locale' => locale}= locale

