:ruby
  label_opts = {
    :f            => f,
    :name         => name
  }
  if local_assigns.key? :label_options
    raise RuntimeError, 'label_options must be of type Hash' unless label_options.is_a? Hash
    label_opts.merge!(label_options)
  end

.field.type_file{ 'data-name' => name }
  - field_name = name.sub(/_uid$/, '')

  = render "edit.field_label", label_opts
  .value><
    = f.file_field field_name
    - unless f.object.send(name).blank?
      = f.hidden_field "retained_#{field_name}"
      = link_to I18n.t("common.Download current"), f.object.send(field_name).url, :target => :_blank
  .clear
