- if sortable_objects
  = ff.hidden_field :position, :class => position
  .handle &nbsp;

- if subfields.is_a? Array
  - subfields.each do |subfield|
    - if @controller.has_template( '_' + new_view_prefix + '.' + field )
      = render new_view_prefix + '.' + field, :f => ff, :name => field
    - else
      = render 'edit.fields', :f => ff, :fields => subfields, :view_prefix => new_view_prefix

- elsif subfields.is_a? String or subfields.is_a? Symbol
  - if @controller.has_template( '_' + new_view_prefix + '.' + field )
    = render new_view_prefix + '.' + field, :f => ff, :name => field
  - else
    = render 'edit.field', :f => ff, :name => field
= render 'edit.field.type_delete_nested', :f => ff
