.releaf_table.no_border.selectable{"data-continuous" => @continuous_scroll ? "1" : "0", "data-items_per_page" => @items_per_page, "data-loading" => t("loading"), "data-total" => items.count}
  .thead
    %div
      - valid_order_by_fields = current_object_class.column_names

      - fields_to_display.each do |name|
        - label = name.sub(/_(id|uid|html)$/, '').to_s.humanize
        %div
          - if valid_order_by_fields.include? name

            - if params[:order_by].blank? || params[:order_by].sub(/-reverse$/, '') != name
              = link_to label, url_for(:order_by => name)

            - else
              - if params[:order_by] == name
                = link_to label + ' ↑', url_for(:order_by => name + '-reverse')
              - else
                = link_to label + ' ↓', url_for(:order_by => name)

          - else
            = label
  .tbody
    - items.each do |item|
      = render 'index.row', :item => item
