.body.outset_box.delete_dialog
  %i.icon-trash
  .dialog
    .question= t('confirm_destroy', :scope => 'admin.global')
    .description= resource_to_text(@resource)
  .buttons.clearInside
    = form_for @resource, :url => url_for( :action => 'destroy', :id => @resource.id ), :as => :resource, :method => :delete do |f|
      %button.button.primary{ :type => 'submit' }
        %i.icon-trash
        %span= t('yes', :scope => 'admin.global')
    - if @features[:show]
      %a.button.secondary{ :href => url_for( :action => 'show', :id => @resource.id ) }
        %i.icon-ban-circle
        %span= t('no', :scope => 'admin.global')
    - elsif @features[:edit]
      %a.button.secondary{ :href => url_for( :action => 'edit', :id => @resource.id ) }
        %i.icon-ban-circle
        %span= t('no', :scope => 'admin.global')
    - else
      %a.button.secondary{ :href => url_for( :action => 'index' ) }
        %i.icon-ban-circle
        %span= t('no', :scope => 'admin.global')
