:ruby
  unless params.has_key?(:return_url)
    if @features[:show]
      action = url_for( :action => 'show', :id => @resource.id )
    elsif @features[:edit]
      action = url_for( :action => 'edit', :id => @resource.id )
    else
      action = url_for( :action => 'index' )
    end
  else
    action = prams[:return_url]
  end


.body.dialog.delete_dialog
  .content
    %i.icon-trash
    .question= t('confirm_destroy', :scope => 'admin.global')
    .description= resource_to_text(@resource)
  .footer.clearInside
    = form_for @resource, :url => action, :as => :resource, :method => :get do |f|
      %button.button.secondary{:data => {:type => 'cancel'}, :type => 'submit'}
        %i.icon-ban-circle
        %span= t('no', :scope => 'admin.global')
    = form_for @resource, :url => url_for( :action => 'destroy', :id => @resource.id ), :as => :resource, :method => :delete do |f|
      %button.button.danger{ :type => 'submit' }
        %i.icon-trash
        %span= t('yes', :scope => 'admin.global')