.body.outset_box
  .question= t('confirm_destroy', :scope => 'admin.global')
  .description= resource_to_text(@resource)
  .buttons
    = form_for @resource, :url => url_for( :action => 'destroy', :id => @resource.id ), :as => :resource, :method => :delete do |f|
      %button.button{ :type => 'submit' }
        %span= t('yes', :scope => 'admin.global')
    - if @features[:show]
      %a.button{ :href => url_for( :action => 'show', :id => @resource.id ) }
        %span= t('no', :scope => 'admin.global')
    - elsif @features[:edit]
      %a.button{ :href => url_for( :action => 'edit', :id => @resource.id ) }
        %span= t('no', :scope => 'admin.global')
    - else
      %a.button{ :href => url_for( :action => 'index' ) }
        %span= t('no', :scope => 'admin.global')
