.body.outset_box
  .question= t('confirm_destroy')
  .description= resource_to_text(@resource)
  .buttons
    = form_for @resource, :url => url_for( :action => 'destroy', :id => @resource.id ), :as => :resource, :method => :delete do |f|
      %button{ :type => 'submit' }
        = image_tag 'releaf/icons/bin_empty.png', :alt => ''
        %span= t('yes')
    %a.button{ :href => url_for( :action => 'show', :id => @resource.id ) }
      %span= t('no')
