.body.dialog.delete-restricted-dialog
  .content
    %i.fa.fa-ban
    .message= t('delete_restricted', scope: 'admin.global')
    .description= t("Deletion of %{resource} restricted, due to existing relations:", scope: "admin.global", default: "Deletion of %{resource} restricted, due to existing relations:", resource: resource_to_text(@resource))
    %ul.block.restricted-relations
      - @restrict_relations.each_pair do |key, relations|
        %li
          - unless relations[:controller].nil?
            = I18n.t(relations[:controller], scope: 'admin.menu_items')
          - else
            = I18n.t(key, scope: 'admin.menu_items')

          = " (#{relations[:objects].count})"
          %ul.block.relations
            - relations[:objects][0..2].each do |relation_obj|
              %li
                - unless relations[:controller].nil?
                  = link_to resource_to_text(relation_obj, :to_s), controller: relations[:controller], action: "edit", id: relation_obj
                - else
                  = resource_to_text(relation_obj, :to_s)
            - if relations[:objects].count > 3
              %li= "..."


  .footer.clearInside
    %a.button{ href: index_url, data: {type: 'cancel'} }
      %i.fa.fa-check
      %span= t('ok', scope: 'admin.global')
