= form_for resource, form_options(action_name, resource, :resource) do |f|
  - unless params[:index_url].blank?
    = hidden_field_tag 'index_url', params[:index_url]
  = render "edit.header", resource: resource
  = render "edit.body", f: f
  = render "edit.footer", resource: resource
