.body
  - if has_template? "_edit.body_top"
    = render 'edit.body_top', f: f

  .section.clearInside
    -#TODO: improve style/html
    -if f.object.errors.any?
      #error_explanation
        %strong= "#{pluralize(f.object.errors.count, "error")} prohibited this news from being saved:"
        %ul
          - f.object.errors.full_messages.each do |msg|
            %li= msg
    = f.releaf_fields(fields_to_display)

  - if has_template? "_edit.body_bottom"
    = render 'edit.body_bottom', f: f
