.body.dialog.delete-dialog
  .content
    = fa_icon("trash-o")
    .question= t('Confirm destroy', scope: 'admin.global')
    .description= resource_to_text(@resource)
  .footer.clearInside
    = form_for @resource, builder: Releaf::FormBuilder, url: index_url, as: :resource, method: :get do |f|
      = releaf_button(t('No', scope: 'admin.global'), "ban", class: "secondary", data: {type: 'cancel'}, type: 'submit')
    = form_for @resource, builder: Releaf::FormBuilder, url: url_for( action: 'destroy', id: @resource.id, index_url: index_url), as: :resource, method: :delete do |f|
      = releaf_button(t('Yes', scope: 'admin.global'), "trash-o", class: "danger", data: {type: 'cancel'}, type: 'submit')
