!!!
%html
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %title `AppName`
    -# = favicon_link_tag("/assets/favicon.ico")
    = stylesheet_link_tag "application"
  %body(class = "#{params[:controller].gsub('/', '__')}-controller #{params[:action]}-view #{I18n.locale}-locale")
    = yeild
    = javascript_include_tag "application"
