!!! 5
%html
  %head
    %title Leaf on Rails
    = csrf_meta_tags
    %link{ :rel =>"icon", :href => asset_path("leaf/favicon.ico"), :type => "image/x-icon" }

    = stylesheet_link_tag "leaf/application"

    - _assets_path = __FILE__.split('/')[0...-1].join('/') + "/../../../assets"

    - controller_asset = params[:controller]
    - ['.css.scss.erb', '.scss.erb', '.css.scss', '.scss', '.css.erb', '.css'].each do |ext|
      - if File.exists?(_assets_path + "/stylesheets/leaf/controllers/#{controller_asset}" + ext)
        = stylesheet_link_tag "leaf/controllers/#{controller_asset}"
  %body.yui3-skin-sam
    - if admin_signed_in?
      .main_menu
        .user
          %a{:href => destroy_admin_session_path, "data-method" => "delete"}
            %span.image_container
              = image_tag("leaf/logout.png")
            %span.name_wrap= t("logout")
        %ul
          - Leaf.main_menu.each do |item|
            %li><
              %a{:href => main_menu_item_url(item), :class => is_this_main_menu_item_active?(item) ? :active : nil}
                %span.image_container
                  = image_tag("leaf/module.png")
                %span.name_wrap= t(item, :scope => "admin.main_menu")

    %div{:class => "module-#{controller.controller_name} method-#{controller.action_name} controller-#{params[:controller].tr( '/', '_' )} action-#{controller.action_name} view-#{ controller.active_template.virtual_path.split('/').pop() if controller.active_template }"}
      - if admin_signed_in?
        - if @panel_layout == true
          .panel_layout
            .secondary_panel
              = controller.secondary_panel.html_safe
            .primary_panel
              = yield
        - else
          = yield
      - else
        = yield

    #preload_wrap
      #preload
        .loading_icon

    = javascript_include_tag "leaf/application"
    - if File.exists?(_assets_path + "/javascripts/leaf/controllers/#{controller_asset}.js")
      = javascript_include_tag "leaf/controllers/#{controller_asset}"
