= form_for resource, :as => :resource, :url => self.send(:"#{Releaf::ReleafDeviseHelper.devise_admin_model_name}_profile_path"), :html => {:multipart => true, 'data-validation-url' => self.send(:"#{Releaf::ReleafDeviseHelper.devise_admin_model_name}_profile_validate_path")} do |f|
  = render "edit.header", :resource => resource
  = render "edit.body", :f => f
  = render "edit.footer", :resource => resource
