.container
  .box
    .logo
    = form_for resource, as: resource_name, builder: Releaf::Builders::FormBuilder, url: session_path(resource_name), html: {class: "login"} do |f|
      - if params[:redirect_to]
        = hidden_field_tag :redirect_to, params[:redirect_to]
      .field
        %label{for: :email}= t("Email", scope: 'admin.sessions')
        = f.email_field :email, autofocus: "autofocus", id: :email, class: "text"
      .field
        %label{for: :password}= t("Password", scope: 'admin.sessions')
        = f.password_field :password, id: :password, class: "text"
      .field
        %button.button{type: "submit"}= t("Sign in", scope: 'admin.sessions')
