%h1 Listing roles

%table
  %tr
    %th Name
    %th Default
    %th Admin
    %th
    %th

  - @roles.each do |role|
    %tr
      %td= link_to role.name, leaf_role_path(role)
      %td= formated_bool role.default
      %td= formated_bool role.admin_permission
      %td= link_to 'Edit', edit_leaf_role_path(role)
      %td= link_to 'Destroy', leaf_role_path(role), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Role', new_leaf_role_path
