:ruby

.body
  - if f.object.new_record?
    = f.hidden_field :parent_id, :value => params[:parent_id] || f.object.parent_id
    = hidden_field_tag(:content_type, params[:content_type])


  .section.node-fields
    = render 'edit.field', :name => 'name', :f => f, :view_prefix => 'edit.field'

    .field{ 'data-name' => 'template' }
      .label_wrap
        = f.label :content_type, t('template', scope: 'admin.global'), :title => f.object.content_type
      .value
        = f.text_field :content_type, disabled: :disabled, value: I18n.t(f.object.content_type.underscore, scope: 'admin.content_types')
      .clear


    = render 'edit.slug', :name => 'slug', :f => f

    .field{ 'data-name' => 'item_position' }
      .label_wrap= f.label :item_position, t('position', scope: 'admin.global')
      .value
        :ruby
          opt_for_select = [[t('first', scope: 'admin.global'), 0]]
          @order_nodes.each do |node|
            # FIXME fix i18n usage
            opt_for_select.push [ t('after', scope: 'admin.global') + ' ' + node.name, node.lower_item ? node.lower_item.item_position : node.item_position + 1 ]
          end

        = f.select :item_position, options_for_select(opt_for_select, f.object.item_position)
      .clear
    .clear
    = render 'edit.field', :name => 'active', :f => f, :view_prefix => 'edit.field'
    - if f.object.locale_selection_enabled?
      = render 'edit.field_type_item', name: 'locale', f: f, :view_prefix => 'edit.field', select_options: I18n.available_locales, include_blank: f.object.locale.blank?
    .clear
    - own_fields_to_display = f.object.own_fields_to_display
    - if own_fields_to_display.present?
      %hr
      = render 'edit.fields', :f => f, :fields => own_fields_to_display, :view_prefix => 'edit.field'
      .clear

  = render 'edit.content_fields', :f => f

