:ruby
  expanded = (current_admin_user.settings["content.tree.expanded.#{resource.id}"] == true)

%li.row.clearInside{class: [(resource.children.empty?) ? nil : 'has-children', ('collapsed' unless expanded)], data: {level: level, id: resource.id}}
  - unless resource.children.empty?
    %div.collapser-cell
      = releaf_button(nil, (expanded ? 'chevron-down' : 'chevron-right'), class: %w(secondary collapser), title: t(expanded ? "collapse" : "expand", scope: controller_scope_name))
  %div.node-cell{ class: resource.active? ? :active : nil }
    - if action == :edit
      %a{href: url_for(action: action, id: resource.id)}
        %span
          = resource.name
    - else
      - field_id = "new_parent_id_#{resource.id}"
      = radio_button_tag :new_parent_id, resource.id, false, id: field_id
      %label{for: field_id}
        %span= resource.name


  - unless resource.children.empty?
    = render 'action_tree.level', collection: resource.children, level: level + 1, action: action
