:ruby
  title_template = action == :copy ? "Copy node '%{node_name}' to" : "Move node '%{node_name}' to"

.body.dialog.copy-or-move-node-dialog{class: "#{action}-node-dialog"}
  .header
    = t(title_template, scope: controller_scope_name, default: title_template, node_name: @node.name )
  = form_tag url_for(action: action, id: @node.id), method: :post, 'data-validation' => true, 'data-validation-ok-handler' => 'ajax' do
    .content.clearInside

      .action-tree.collection
        %ul.block.clearInside{ :'data-level' => 0 }
          %li.root.row.clearInside
            %div.node-cell
              - field_id = 'new_parent_id_0'
              = radio_button_tag :new_parent_id, '', false, id: 'new_parent_id_0'
              %label{for: field_id}
                %span= t("Root node", scope: controller_scope_name)

        - if @collection.size > 0
          = render 'action_tree.level', collection: @collection, level: 1, action: action

    .footer.clearInside
      - cancel_url = url_for( action: 'index' )
      = releaf_button(t('Cancel', scope: 'admin.global'), "ban", class: "secondary", data: {type: 'cancel'}, href: cancel_url)
      = releaf_button(t(action.to_s.capitalize, scope: controller_scope_name), "check", class: "primary", type: "submit")
