:ruby
  object = f.object
  opts = { f: f, view_prefix: 'edit.field' }
  own_fields_to_display = object.own_fields_to_display

.body
  - if object.new_record?
    = f.hidden_field :parent_id, value: params[:parent_id] || object.parent_id
    = hidden_field_tag(:content_type, params[:content_type])

  .section.node-fields
    = f.releaf_fields(:name, :content_type, :slug, :item_position)
    .clear
    = f.releaf_fields(:active)
    - if object.locale_selection_enabled?
      = f.releaf_fields(:locale)
    .clear
    - if own_fields_to_display.present?
      %hr
      = f.releaf_fields(own_fields_to_display)
      .clear

  .section.content-fields
    - content_fields_to_display = f.object.content_fields_to_display(params[:action])
    - if content_fields_to_display.present?
      = f.fields_for :content, f.object.content || f.object.content_class.new do |ff|
        = ff.releaf_fields(content_fields_to_display)
    .clear
