- old_f = @f
- old_item = @item

= @f.fields_for :content, @item.content do |ff|
  - @f = ff
  - @item = ff.object

  - (ff.object.class.column_names - %w[id created_at]).each do |name|
    - if @controller.has_template( "_edit.field.#{name}" )
      = render "edit.field.#{name}", :name => name
    - else
      = render 'edit.field', :name => name

- @f = old_f
- @item = old_item
