.nested_object
  asd
  - f.object.common_field_names.each do |common_field_name|
    - if @controller.has_template( "_edit.field.#{common_field_name}" )
      = render "edit.field.#{common_field_name}", :name => common_field_name, :f => f
    - else
      = render 'edit.field', :name => common_field_name, :f => f



  = f.fields_for :content_object, f.object.content_object do |ff|

    - (ff.object.class.column_names - %w[id created_at updated_at]).each do |name|
      - if @controller.has_template( "_edit.field.#{name}" )
        = render "edit.field.#{name}", :name => name, :f => ff
      - else
        = render 'edit.field', :name => name, :f => ff


    = render 'edit.has_many_associations', :f => ff
