%ul.block
  - nodes.each do |node|
    %li
      .node{ :style => "background-color:rgba(188,224,178,#{[ 1-level.to_f/10, 0.3 ].max});", :class => params[:id].to_i == node.id ? :active : nil }
        %a.create{:href => url_for(:action => :new, :parent_id => node.id)}><
          = image_tag("leaf/add.png")
        %input{:name => "ids[]", :type => "checkbox", :value => node.id}/
        - if node.children.empty?
          .toggle{:style => "margin-left:#{15*level}px;"}><
        - else
          %button.no_styling.toggle.open{"data-id" => node.id, :type => "button", :style => "margin-left:#{15*level}px;"}>< Toggle
        %a.edit{:href => url_for(:action => :edit, :id => node.id), :title => node.url, :style=> "left: #{43+15*level}px;"}><
          = image_tag "leaf/language_root.png", :alt => ''
          %span= node.name
      - if !node.children.empty?
        = render 'tree_level', :nodes => node.children, :level => level + 1
