.body.inset_box.no_shadow
  = hidden_field_tag 'node[parent_id]', params[:parent_id] unless @item.id
  .globalFieldContainer.collapsableSection.global_fields

    = render 'edit.field', :name => 'name'

    .field{ 'data-name' => 'template' }
      .label_wrap
        %label{:for => "template", :title => @item.content_class} Veids:
      .value
        %select{:name => "node[content_class]", :title => @item.content_class, :disabled => @item.is_controller_node}
          - if @item.is_controller_node
            %option{:value => @item.content_class}= @item.content_class
          - else
            - @base_models.each do |model|
              %option{:value => model.name}= model.name

    .clear


    = render 'edit.slug', :name => 'slug'

    .field{ 'data-name' => 'position' }
      .label_wrap= @f.label :position, t('.position', :rescue_format => false) + ':'
      .value
        %select#node_position{:name => "node[position]"}
          %option{:value => "1"}= t('first', :rescue_format => false)
          - @order_nodes.each do |order_node|
            %option{:value => (order_node.lower_item ? order_node.lower_item.position : order_node.position), :selected => (order_node.position == @position)}= t('.after', :rescue_format => false) + ' ' + order_node.name
    .clear

    = render 'edit.field', :name => 'visible'
    = render 'edit.field', :name => 'protected'





    %button.no_styling.toggleSection.collapse{:title => "Saīsināt sadaļu", :type => "button"}
      = image_tag("leaf_rails/icons/130.png", :alt => "Saīsināt sadaļu")
    %button.no_styling.toggleSection.expand{:title => "Parādīt pilnu sadaļu", :type => "button"}
      = image_tag("leaf_rails/icons/129.png", :alt => "Parādīt pilnu sadaļu")
    .clear.persistent
  - tiny_mce = false
  - if @item.content_object
    %textarea#text{:name => "node[object_data][text]", :type => "text"}= @item.content_object.text
  - if @controller_properties && !@controller_properties.empty?
    - @controller_properties.each do |name, conf|
      - value = (@item.data && @item.data[name] ? @item.data[name].to_s : '')
      %div
        =label_tag name
      %div
        - if conf[:type] == :textarea
          =text_area_tag "node[data][#{name}]", value
        - elsif conf[:type] == :richtext
          =text_area_tag "node[data][#{name}]", value, :class => "tinymce", :rows => 20, :cols => 60
          - tiny_mce = true
        - else
          =text_field_tag "node[data][#{name}]", value
  - if tiny_mce
    = tinymce

