.field.type_text{ 'data-name' => name }
  .label_wrap><= @f.label name, name.humanize + ':'
  .value><
    = @f.text_field name
    %button.no_styling{:type => 'button', :title => t('.suggest_slug', :rescue_format => false)}><
      = image_tag('leaf_rails/icons/keyboard.png', :alt => t('.suggest_slug', :rescue_format => false))
    %div
      %a{:href => "/#{@item.url}"}
        = "#{request.protocol}#{request.host_with_port}/#{@item.parent.try(:url)}/"
        %span><= @item.slug
        = "/"
  .clear
