-#- @asd.each do |controller|
-#=form_tag leaf_rails_content_path do
  -#=hidden_field_tag "controller_name", controller[:controller]
  -#=controller
  -#%h5= "#{controller[:controller]} (#{controller[:path]})"
  -#- controller[:def].each do |name, conf|
    -#%div
      -#=label_tag name
    -#%div
      -#- if conf[:type] == :textarea
        -#=text_area_tag "data[#{name}]", controller[:values][name]
      -#- elsif conf[:type] == :richtext
        -#=text_area_tag "data[#{name}]", controller[:values][name]
      -#- else
        -#=text_field_tag "data[#{name}]", controller[:values][name]
  -#=submit_tag

