!!! 5
%html
  %head
    %title Leaf on Rails
    = csrf_meta_tags
    %link{ :rel =>"icon", :href => asset_path("leaf_rails/favicon.ico"), :type => "image/x-icon" }

    = stylesheet_link_tag "leaf_rails/application"

    - controller_asset = params[:controller]
    - ['.css.scss.erb', '.scss.erb', '.css.scss', '.scss', '.css.erb', '.css'].each do |ext|
      - if File.exists?("app/assets/stylesheets/leaf_rails/controllers/#{controller_asset}" + ext)
        = stylesheet_link_tag "leaf_rails/controllers/#{controller_asset}"
  %body
    - if admin_signed_in?
      .main_menu
        .user
          %a{:href => destroy_admin_session_path, "data-method" => "delete"}
            %span.image_container
              = image_tag("leaf_rails/logout.png")
            %span.name_wrap= t("logout")
        %ul
          - menu[:items].each_pair do |item, label|
            %li><
              %a{:href => url_for(:controller => item, :action => "index"), :class => ("active" if menu[:active] == item)}
                %span.image_container
                  = image_tag("leaf_rails/module.png")
                %span.name_wrap= t(label, :scope => "admin.main_menu")

    %div{:class => "module-#{controller.controller_name} method-#{controller.action_name} controller-#{params[:controller].gsub( '/', '_' )} action-#{controller.action_name} view-#{ controller.active_template.virtual_path.split('/').pop() if controller.active_template }"}
      - if admin_signed_in?
        - if @panel_layout == true
          .panel_layout
            .secondary_panel
              = controller.secondary_panel.html_safe
            .primary_panel
              = yield
        - else
          = yield
      - else
        = yield

    = javascript_include_tag "leaf_rails/application"
    - if File.exists?("app/assets/javascripts/leaf_rails/controllers/#{controller_asset}.js")
      = javascript_include_tag "leaf_rails/controllers/#{controller_asset}"
