.footer.center
  .block.left_block
    %a.button{:href => "./"}
      = image_tag("leaf_rails/icons/arrow_left.png", :alt => "") \
      = t('cancel')
  .block.center_block
    %button{:type => "submit"}
      = image_tag("leaf_rails/icons/disk.png", :alt => "") \
      = t('save')
  .block.right_block
    - if !@item.new_record?
      %a.button{ :href => url_for( :action => 'confirm_destroy', :id => @item.id ) }
        = image_tag('leaf_rails/icons/bin_empty.png', :alt => '')
        %span= t('destroy')
