:ruby
  column_type = @item.class.columns_hash[ name ].try(:type)
  input_type = @controller.input_type_for( column_type, name )
  collection = nil

  if @item.class.respond_to?(:reflect_on_association)
    if name =~ /_id$/ && @item.class.reflect_on_association(name.sub(/_id$/, '').to_sym)
      collection = @item.class.reflect_on_association(name.sub(/_id$/, '').to_sym).try(:klass).try(:all)
    end

    collection = @item.class.reflect_on_association(name.to_sym).try(:klass).try(:all) if collection.nil?
    input_type = 'select' unless collection.nil?
  end


- if @controller.has_template( "_edit.field.type_#{input_type}" ) && input_type == 'select'
  :ruby
    text_field = :to_text unless text_field
    include_blank = nil unless include_blank

    if include_blank.nil?
      if @item.send(name).nil?
        include_blank = true
      else
        include_blank = true
        @item.class.validators_on(name).each do |validator|
          if validator.is_a? ActiveModel::Validations::PresenceValidator
            include_blank = false
            break
          end
        end
      end
    end

  = render "edit.field.type_select", :name => name, :select_options => options_from_collection_for_select(collection, :id, text_field.to_sym, @item.send(name) ), :options => { :include_blank => include_blank }
- elsif @controller.has_template( "_edit.field.type_#{input_type}" )
  = render "edit.field.type_#{input_type}", :name => name
- else
  - input_type = @controller.input_type_for( 'string', name )
  = render "edit.field.type_#{input_type}", :name => name
